:root {
  --color-primary: #13b413;
  --color-sber: #22ccb4;
  --color-sber-bright: #7cec84;
  --color-additional: #7e7e81;
  --color-warning: red;
  --color-primary-dark-mode: #BB86FC;
  --color-additional-dark-mode: #6200EE;
}