@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

$color-primary: #13b413;
$color-secondary: #7e7e81;
$color-sber: #22ccb4;
$color-sber-bright: #7cec84;
$color-primary-dark-mode: #BB86FC;
$color-secondary-dark-mode: #6200EE;
$color-buttons-dark-mode: #6200EE;

body {
  font-family: "PT Sans", sans-serif;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  padding-top: 60px;
  position: relative;

  &.dark {
    background-color: #121212;
    color: #fff;
  }
}

input, select {
  background-color: transparent;
}

option {
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 400px;
  margin-bottom: 10px;
  padding: 0 15px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.fete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  gap: 15px;

  & span {
    font-size: 12px;
    font-weight: 700;
  }

  &-buttons-container {
    display: flex;
    gap: 30px;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid $color-primary;
    background-color: transparent;
  }
}

.tips-input {
  width: 100px;
}

.title {
  font-size: 24px;
  font-weight: 400;
}

input {
  text-align: center;
  padding: 4px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid $color-primary;
  font-size: 14px;
}

h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

.minus {
  margin-bottom: 0;
}

.count {
  padding: 6px 30px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  border: 3px solid $color-sber;
  background-color: $color-sber;
  color: #fff;
  margin-bottom: 20px;

  &:active {
    color: #000;
    background-color: transparent;
  }
}

.is-manager-rich-label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 25px 0;
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 700;
}

.main-top {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 370px;
  margin-bottom: 20px;
}

.wrapper {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  &.hidden {
    display: none;
  }

  .division {
    font-weight: 700;
    margin-right: 3px;
  }

  .division-tips {
    font-weight: 700;
    color: $color-sber-bright;
  }
}

.burger {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 12px;
  background-color: transparent;
  border: none;
  z-index: 102;
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: $color-primary;
}

.burger::before {
  bottom: 70%;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  visibility: visible;
  transition: .3s ease-in-out;
  overflow: hidden;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.side-menu {
  background-color: #fff;
  padding-top: 60px;
  width: 52%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  transform: translateX(-200%);
  transition: .3s ease-in-out;
  overflow: auto;

  &.open {
    transform: translateX(0);
  }
}

.waiter-side-menu {
  width: 100%;
  padding: 20px;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid $color-secondary;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.overall-container {
  margin: 0 auto;
}

.lock-scroll {
  height: 100vh;
  overflow: hidden;
}

.hint {
  font-size: 18px;
  max-width: 230px;
  text-align: center;
  margin-bottom: 20px;
}

/* ----- WAITERS-MAIN -------*/
.waiters-main {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    display: flex;
    gap: 10px;

    .waiter {
      margin-right: 20px;
    }

    .hours {
      margin-right: 17px;
    }

    .has {
      margin-right: 35px;
    }
  }
}

.waiters-money {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 6px;

  &-input {
    width: 140px;
  }

  &-tooltip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &:hover &-text {
      display: block;
    }

    &-text {
      position: absolute;
      top: 180%;
      left: 50%;
      transform: translateX(-50%);
      max-width: 180px;
      text-align: center;
      background-color: #fff;
      padding: 10px;
      border: 1px solid $color-primary;
      border-radius: 12px;
      display: none;
      color: #000;
    }
  }
}

.waiter-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 20px;

  &:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }

  &__number {
    width: 20px;
    text-align: end;
  }

  &__name {
    width: 80px;
    position: relative;

    .tooltip {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -15px;
      width: 12px;
      height: 12px;
      border: 1px solid $color-primary;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 9px;

      &-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -87px;
        background-color: #fff;
        border: 1px solid #000;
        padding: 4px 8px;
        border-radius: 12px;
        z-index: 100;
        font-size: 10px;
        display: none;

        .bank {
          font-weight: 700;
        }
      }

      &:hover .tooltip-text {
        display: block;
      }
    }
  }

  &__hours {
    display: block;
    position: relative;
    left: -4px;
  }

  &__has {
    display: flex;
    align-items: center;

    &-amount {
      width: 45px;
      height: 20px;
    }
  }

  .to-receive {
    position: relative;
    left: 15px;
  }
}

.is-trainee__label {
  display: flex;
  gap: 2px;
}

select {
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
  outline: none;
  appearance: none;
  font-size: 14px;
}

option {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.dark-mode {
  position: absolute;
  right: 20px;
  top: 14px;

  &-label {
    display: block;
    width: 50px;
    height: 25px;
    background-color: lightgray;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
  }

  &-circle {
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    animation: toggleOff .2s linear forwards;
  }

  &-input:checked + &-label {
    background-color: #fff;
  }

  &-input:checked + &-label &-circle {
    animation: toggleOn .2s linear forwards;
    background-color: #000;
  }
}

.dark {
  .waiters-money-tooltip {
    border-color: #fff;
  }

  .fete-button {
    border-color: $color-primary-dark-mode;
  }

  .waiters-main__header {
    color: $color-primary-dark-mode;
  }

  input {
    border-color: $color-primary-dark-mode;
  }

  .burger::before, .burger::after {
    background-color: $color-secondary-dark-mode;
  }

  .waiters-money-tooltip-text {
    border-color: $color-secondary-dark-mode;
  }

  .count {
    border-color: $color-secondary-dark-mode;
    background-color: $color-secondary-dark-mode;
  }

  .waiter-main:not(:last-child) {
    border-bottom: 1px solid #3b3b3b;
  }

}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(26px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translateX(26px);
  }
  100% {
    transform: translateX(0);
  }
}
